<div class="home_banner w-100">
	<div class="row">
		<div class="col-md-12">
			<div class="home-action-section centered-xy">
				<div class="row">
					<div class="col-md-10 offset-md-1 text-center">
						<h1>Get stuff done!</h1>
						<p>Find a professional to help you do almost anything.</p>

			            <%= form_for SearchServiceByLocationForm.new, url: search_path, local: true, method: :get do |f| %>
			            	<div class="row">
				                <!-- Start of service input -->
				                <div class="col-md-4 col-sm-12 search-service">
				                    <label for="search-service">Service</label>
				                    <%= f.text_field :q, id: "search-service", class: "form-control text-dark", placeholder: "Service", data: { behavior: "autocomplete" }, :required => true %>		
				                </div>

				                <!-- Start of location input -->
				                <div class="col-md-4 col-sm-12 search-location">
				                    <label for="search-location">Location</label>
				                    <%= f.text_field :location, id: "search-location", class: "form-control text-dark", placeholder: "City, Country" %>	
				                </div>

				                <!-- Start of submit input -->
				                <div class="col-md-4 col-sm-12 search-submit text-left">
				                    
									<%#= f.submit "Find Professional", class: "btn btn-info" %>			                    
				                    <%= button_tag type: 'submit', class: "btn btn-info" do %>
								        <i class="fa fa-search"></i>
								        Find Professional
								    <% end %>
				                </div>			            		
			            	</div>



			            <% end %>	
					</div>
				</div>


 			</div>
		</div>
	</div>



</div>
<script type='text/javascript'>
	$(function() {
		$("#search-location").geocomplete();
	});

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSqlenOHStWc1MdDufLvSzIXdum5UREsc&amp;libraries=places"></script>
