<div class="row">
	<div class="col-md-6 offset-md-3">
		<% if @quotations && @quotations.count > 0 %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Professional</th>
					<th>File</th>
					<th>Request ID </th>
				</tr>
			</thead>
			<tbody>
				<% @quotations.each do |quotation| %>
				<% professional = Professional.find(quotation.professional_id)%>
				<tr>
					<td><%= link_to professional.full_name, professional %></td>
					<td><%= link_to File.basename(quotation.quotation_document_url), quotation.quotation_document_url %></td>
					<td><%= link_to quotation.request_id, request_path(quotation.request_id)%></td>
				</tr>

				<% end %>
			</tbody>
		</table>
		<% else %>
		<h4>You currently have no quotations.</h4>
		<% end %>
	</div>
</div>
