  <p>
    <%= @greeting %>,
  </p>
  <p>
    Here is the quotation you requested from <%= @professional.full_name %>:
  </p>

  <p>
  	<%= @professional.quotation.details %>
  </p>

  <p>
	<%= link_to "View Professional's profile", professional_url(@professional), class: "btn btn-primary btn-block" %> 
  </p>
