@import url('https://fonts.googleapis.com/css?family=Montserrat|Varela+Round|Righteous');

h1 {
	font-size: 55px;
	line-height: 60.5px;
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

.topnav {
	background-color: #F6F6F6;
}

.topnav a{
	text-decoration: none;
	color: #000;
	margin-right: 30px;
	padding: 20px;
}

.topnav .navbar-brand {
	font-family: 'Righteous', cursive;
	font-size: 30px;
	color: #343A40;
}

.topnav a:hover{
	text-decoration: none;
	color: #CCCCCC;
	margin-right: 30px;
}

.home_banner {
	height: 100vh !important;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0,0, 0.35)), url('banner.jpg'), no-repeat center;
	background-size: 100%;
	
	.home-action-section {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0,0, 0.35));
		position: absolute;
		top: 300px;
		width: 100%;
		color: #fff;

		h1 {	
			font-family: 'Varela Round', sans-serif;
		}

	}
}

.user-name {
	font-style: italic;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.fa.white {
	color: white;
}

.centered-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 	
}

.search-service .select2 {
	.selection {
		span {
			font-family: 'Montserrat', sans-serif;
		    height: 50px;
		    width: 100%;
		    border: none;
		    -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
		    border-radius: 5px;
		    text-align: center;
		    padding-top: 5px;
		    font-size: 18px;
		    color: #999
		}
	}
}

.new_search_service_by_location_form input {
    height: 50px;
    width: 100%;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 30px;
    font-size: 18px;
    color: #999
}

.search-submit button{
	color: #fff;
	width: auto;
	height: 50px;
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0 20px;
}

.search-location:before {
	content: '\f276';
    font-family: fontawesome;
    font-size: 22px;
    position: absolute;
    right: 30px;
    bottom: 0;
    color: #999;
    line-height: 50px;
}

.eac-category{
	color: #136c7a;
}

.eac-item {
	color: black !important;
}

.dropdown.login-dropdown {
	.dropdown-menu {
		li:hover {
			color: white;
			background: grey;
		}
	}

	.dropdown-toggle:after {
		display: none;
	}
	
}