<div class="row sticky-top">
  <div class="col-md-12">
		<%= form_for SearchServiceByLocationForm.new, url: search_path, local: true, method: :get do |f| %>
			<div class="input-group">
				<%= f.select :q, Category.order(:service).select("DISTINCT(service)").collect { |c| [ c.service, c.service ] } %> 
				<%= f.text_field :location, class: "form-control", placeholder: "City, Country", value: "#{@location}", id: "geo-input"%>
				<div class="input-group-append">
					<%= f.submit "Find a Professional", class: "btn btn-info" %>
				</div>
			</div>
		<% end %>
  </div>
</div>

<script type='text/javascript'>
   $(function() {
	  $("#geo-input").geocomplete();
	});

	$("#search_service_by_location_form_q").select2({
		theme: "bootstrap"
	});  

</script>
